* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  margin: 0px;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

div {
  display: block;
}

.layout {
  min-width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.Header {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  z-index: 100;
  padding: 0px 1.25rem;
  height: 4rem;
}

@media (min-width: 35.5rem) {
  .Header {
    padding: 0px 2.5rem;
    max-width: 77.5rem;
  }
}

.LogoButton {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 8rem;
          flex: 0 1 8rem;
  min-width: 7.1875rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.logo {
  max-width: 100%;
}

@media (min-width: 35.5em) {
  .ButtonsGroup {
    --button-inline-margin: 0.3125rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.ButtonsGroup {
  --button-block-margin: 0.375rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: calc(-1 * var(--button-block-margin)) calc(-1 * var(--button-inline-margin));
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (min-width: 35.5em) {
  .ButtonsGroup .StyledButton:first-of-type {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media (min-width: 35.5em) {
  .ButtonsGroup .StyledButton {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

.ButtonsGroup .StyledButton {
  margin: var(--button-block-margin) var(--button-inline-margin);
}

.StyledButton {
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  min-width: 7.5rem;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0px 1rem;
  color: #dadada;
  height: auto;
}

.ButtonsGroup .StyledButton2:last-of-type {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (min-width: 35.5em) {
  .ButtonsGroup .StyledButton2 {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

.ButtonsGroup .StyledButton2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin: var(--button-block-margin) var(--button-inline-margin);
}

@media (min-width: 35.5em) {
  .StyledButton2 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.StyledButton2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  min-width: 7.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0px 1rem;
  --shadow-color: $--colors-silver;
  --shadow-width: 0.125rem;
  -webkit-box-shadow: inset 0 0 0 var(--shadow-width);
          box-shadow: inset 0 0 0 var(--shadow-width);
  color: #dadada;
}

.stackedlayout {
  text-align: center;
  --top-gutter: 2rem;
  --bottom-gutter: 3rem;
  padding-bottom: var(--bottom-gutter);
}

@media (min-width: 35.5em) {
  .stackedlayout {
    --top-gutter: 4.5rem;
    --bottom-gutter:4.5rem;
  }
}

@media (min-width: 50em) {
  .stackedlayout {
    --top-gutter: 6rem;
    --bottom-gutter: 6rem;
  }
}

.ContentBlock {
  --gutter: 48;
  --horizontal-padding: 1.25rem;
  margin-bottom: calc(var(--gutter) * 0.0625rem);
}

@media (min-width: 35.5em) {
  .ContentBlock {
    --gutter: 72;
    --horizontal-padding: 2.5rem;
  }
}

@media (min-width: 50em) {
  .ContentBlock {
    --gutter: 96;
  }
}

.ContentBlock:last-child {
  margin-bottom: 0px;
}

.ContentBlock2 {
  margin-bottom: calc(var(--gutter) * 0.0625rem);
  --gutter: 22;
}

@media (min-width: 35.5em) {
  .ContentBlock2 {
    --gutter: 17;
    --horizontal-padding: 2.5rem;
  }
}

@media (min-width: 50em) {
  .ContentBlock2 {
    --gutter: 96;
  }
}

.heroblock {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 6.5rem;
  padding-bottom: 3.5rem;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 3, 51, 0.3)), to(rgba(12, 3, 51, 0.3)));
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
}

@media (min-width: 35.5em) {
  .heroblock {
    padding-top: 8.5rem;
    padding-bottom: 4rem;
  }
}

@media (min-width: 64em) {
  .heroblock {
    padding-top: 12.5rem;
    padding-bottom: 4.5rem;
  }
}

.call {
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ImageWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.back-video {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.TitleWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  padding: 0px 1.25rem;
  margin-bottom: 3.5rem;
}

@media (min-width: 35.5em) {
  .TitleWrapper {
    padding: 0px;
    margin-bottom: 5rem;
  }
}

@media (min-width: 64em) {
  .TitleWrapper {
    margin-bottom: 7.5rem;
  }
}

.PerksWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2.375rem 2.1875rem;
  max-width: 23.5rem;
  padding: 0px 1.25rem;
}

@media (min-width: 35.5em) {
  .PerksWrapper {
    gap: 3.5rem 5rem;
    max-width: 37.5rem;
    padding: 0px 2.5rem;
  }
}

@media (min-width: 50em) {
  .PerksWrapper {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    max-width: 75rem;
  }
}

.centraltitle {
  color: white;
  margin-bottom: 1.5rem;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

@media (min-width: 35.5em) {
  .centraltitle {
    max-width: 24.375rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 50em) {
  .centraltitle {
    margin-bottom: 2.5rem;
    max-width: 37.5rem;
  }
}

@media (min-width: 35.5em) {
  .centraltitle {
    font-size: 2.125rem;
    line-height: 2.75rem;
  }
}

@media (min-width: 50em) {
  .centraltitle {
    font-size: 3.245rem;
    line-height: 4rem;
  }
}

@media (min-width: 50em) {
  .centraltitle {
    font-weight: 600;
  }
}

h1 {
  margin: 0px;
}

.StyledButton3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  min-width: 7.5rem;
  height: 2.5rem;
  border: 0px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0px 1rem;
  width: 100%;
  color: #141519;
  background-color: #f47521;
}

@media (min-width: 35.5em) {
  .StyledButton3 {
    width: auto;
  }
}

@media (min-width: 35.5em) {
  .StyledButton3 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.Perk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  color: white;
}

.PerkIcon {
  width: 1.875rem;
  margin-bottom: 1rem;
  fill: currentColor;
}

@media (min-width: 35.5em) {
  .PerkIcon {
    width: 2.5rem;
  }
}

:not(svg) {
  -webkit-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
}

@media (min-width: 35.5em) {
  .Text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.Text {
  font-weight: 500;
  font-size: 0.975rem;
}

.Devices {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
}

@media (min-width: 35.5em) {
  .Header2 {
    max-width: 42.5rem;
    padding: 0px 2.5rem;
  }
}

.Header2 {
  padding: 0px 1.25rem;
}

.centraltitle2 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 35.5em) {
  .centraltitle2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 50em) {
  .centraltitle2 {
    font-size: 2.125rem;
    line-height: 2.75rem;
  }
}

h2 {
  margin: 0px;
}

.HeaderSubtitle {
  color: #59595b;
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 35.5em) {
  .HeaderSubtitle {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}

h3 {
  margin: 0px;
}

.ImageHolder {
  z-index: -1;
  height: 20rem;
}

@media (min-width: 35.5em) {
  .ImageHolder {
    margin-top: -2.6rem;
    height: 32rem;
  }
}

@media (min-width: 50em) {
  .ImageHolder {
    margin-top: -5.625rem;
    height: 46.5625rem;
  }
}

.registration {
  display: block;
  height: 100%;
}

@media (min-width: 35.5em) {
  .CardsHolder {
    padding-bottom: 3rem;
  }
}

.CardsHolder {
  padding-bottom: 2rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#dadada));
  background-image: linear-gradient(to bottom, white, #dadada);
}

.centraltitle3 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 35.5em) {
  .centraltitle3 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 50em) {
  .centraltitle3 {
    font-size: 2.125rem;
    line-height: 2.75rem;
  }
}

.Feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  overflow-x: hidden;
}

.SeriesCard {
  --flexBasis: 38.619%;
  padding: 0px 0.36875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 var(--flexBasis);
          flex: 0 0 var(--flexBasis);
  max-width: var(--flexBasis);
}

@media (min-width: 35.5em) {
  .SeriesCard {
    --flexBasis: 18.859%;
  }
}

@media (min-width: 50em) {
  .SeriesCard {
    --flexBasis: 13.755%;
    padding: 0px 0.5rem;
    max-width: 12.25rem;
  }
}

.Thumbnail {
  position: relative;
  width: 100%;
  padding-top: 150%;
}

.Image {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}

.Availability {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.5rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: #a0a0a0;
  padding-bottom: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 0.850rem;
  line-height: 1.125rem;
  font-weight: 540;
}

@media (min-width: 35.5em) {
  .Availability {
    width: 100%;
  }
}

@media (min-width: 61.25em) {
  .Availability {
    margin: auto;
  }
}

.Text2 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 35.5em) {
  .Text2 {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}

.BasicLink {
  color: #f47521;
  text-transform: none;
}

.HelpCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.TitleHeading {
  text-align: center;
  margin-bottom: 0.75rem;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

@media (min-width: 35.5em) {
  .TitleHeading {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 50em) {
  .TitleHeading {
    font-size: 2.125rem;
    line-height: 2.75rem;
  }
}

.Text3 {
  text-align: center;
  font-weight: 500;
}

@media (min-width: 35.5em) {
  .Text3 {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}

.Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  margin: auto auto 0px;
  padding: 1.5rem 1.25rem 2rem;
}

@media (min-width: 35.5em) {
  .Footer {
    padding: 1.5rem 1.25rem 2.5rem;
  }
}

@media (min-width: 50em) {
  .Footer {
    padding: 1.5rem 1.25rem 2rem;
  }
}

.FooterTopRow {
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 35.5em) {
  .FooterTopRow {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 50em) {
  .FooterTopRow {
    margin-bottom: 2.3rem;
  }
}

.LinksWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

@media (min-width: 35.5em) {
  .LinksWrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
        align-items: baseline;
  }
}

.BasicLinkFooterText {
  color: #f47521;
  text-transform: none;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 500;
}

@media (min-width: 35.5em) {
  .BasicLinkFooterText {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.BasicLinkFooterText:not(:last-child) {
  margin-bottom: 1rem;
}

@media (min-width: 35.5em) {
  .BasicLinkFooterText:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}

@media (min-width: 50em) {
  .BasicLinkFooterText:not(:last-child) {
    margin-bottom: 0px;
  }
}

.FooterLinkDivider::after {
  content: "|";
  padding: 0px 1rem;
  color: #dadada;
}

@media (min-width: 35.5em) {
  .FooterLinkDivider::after {
    display: block;
  }
}

.FlexDivider {
  display: none;
}

@media (min-width: 35.5em) {
  .FlexDivider {
    display: block;
    height: 0px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.FooterBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
}

@media (min-width: 35.5em) {
  .FooterBottom {
    padding: 0px 2.5rem;
  }
}

@media (min-width: 50em) {
  .FooterBottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
    max-width: 77.5rem;
  }
}

.Copyright {
  margin-bottom: 2rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 600;
}

@media (min-width: 50em) {
  .Copyright {
    margin-bottom: 0px;
  }
}

@media (min-width: 35.5em) {
  .Copyright {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

p {
  text-rendering: initial;
  margin: 0px;
}

.Selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  border: solid 0.125rem black;
  cursor: pointer;
  padding: 0.375rem 0.375rem 0.375rem 0.625rem;
  position: relative;
}

@media (min-width: 35.5em) {
  .Selector {
    width: 11.25rem;
  }
}

.Language {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 600;
}

@media (min-width: 35.5em) {
  .Language {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.Icon0 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transition: -webkit-transform 0.1s ease-in-out 0s;
  transition: -webkit-transform 0.1s ease-in-out 0s;
  transition: transform 0.1s ease-in-out 0s;
  transition: transform 0.1s ease-in-out 0s, -webkit-transform 0.1s ease-in-out 0s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.LanguageList {
  position: absolute;
  bottom: 100%;
  border: solid 0.125rem black;
  right: -0.125rem;
  left: -0.125rem;
  z-index: 98;
  display: none;
  background-color: white;
}

ul {
  padding: 0px;
  margin: 0px;
}

.li {
  list-style-type: none;
}

.StyledButton:first-of-type {
  display: none;
}
/*# sourceMappingURL=style.css.map */