$--colors-orange-base: rgb(244, 117, 33);
$--colors-orange-dark: rgb(229, 106, 23);
$--colors-orange-light: rgb(255, 133, 51);
$--colors-orange-bright: rgb(255, 148, 77);
$--colors-blue-base: rgb(33, 57, 68);
$--colors-blue-dark: rgb(25, 46, 56);
$--colors-blue-light: rgb(47, 81, 97);
$--colors-blue-bright: rgb(84, 128, 148);
$--colors-honey-gold-base: rgb(250, 184, 24);
$--colors-honey-gold-dark: rgb(214, 153, 11);
$--colors-honey-gold-light: rgb(255, 201, 77);
$--colors-honey-gold-bright: rgb(255, 217, 128);
$--colors-black: rgb(0, 0, 0);
$--colors-woodsmoke: rgb(20, 21, 25);
$--colors-shark: rgb(35, 37, 43);
$--colors-trout: rgb(74, 78, 88);
$--colors-scarpa-flow: rgb(89, 89, 91);
$--colors-silver-chalice: rgb(160, 160, 160);
$--colors-silver: rgb(218, 218, 218);
$--colors-alabaster: rgb(248, 248, 248);
$--colors-white: rgb(255, 255, 255);
$--colors-scooter: rgb(42, 189, 187);
$--colors-granny-smith-apple: rgb(141, 220, 158);
$--colors-pomegranate: rgb(239, 67, 35);
$--z-index-flash-message: 101;
$--z-index-header: 100;
$--z-index-dropdown: 98;
$--z-index-above-foreground: 2;
$--z-index-foreground: 1;
$--z-index-under-background: -1;
* {
    box-sizing: border-box;
}
body {
    font-family: Lato, sans-serif;
    margin: 0px;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    background-color: $--colors-white;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}
div {
    display: block;
}
.layout {
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
@media (min-width: 35.5rem) {
.Header {
    padding: 0px 2.5rem;
    max-width: 77.5rem;
}
}
.Header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    z-index: $--z-index-header;
    height: 4rem;
}
.LogoButton{
    flex: 0 1 8rem;
    min-width: 7.1875rem;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}
.logo {
    max-width: 100%;
}
img {
    -webkit-user-drag: none;
    user-select: none;
}
@media (min-width: 35.5em) {
.ButtonsGroup {
    --button-inline-margin: 0.3125rem;
    display: inline-flex;
}
}
.ButtonsGroup {
    --button-block-margin: 0.375rem;
    -webkit-box-pack: center;
    justify-content: center;
    margin: calc(-1 * var(--button-block-margin)) calc(-1 * var(--button-inline-margin));
    flex: 0 0 auto;
}
@media (min-width: 35.5em) {
.ButtonsGroup .StyledButton:first-of-type {
    display: inline-flex;
}
}
@media (min-width: 35.5em) {
.ButtonsGroup .StyledButton {
    flex: unset
}
}
.ButtonsGroup .StyledButton {
    margin: var(--button-block-margin) var(--button-inline-margin);
}
.StyledButton {
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-width: 7.5rem;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-property: color, background-color, box-shadow;
    user-select: none;
    padding: 0px 1rem;
    color: $--colors-silver;
    height: auto;
}
.ButtonsGroup .StyledButton2:last-of-type {
    display: inline-flex;
}
@media(min-width: 35.5em) {
.ButtonsGroup .StyledButton2 {
    flex: unset
}
}
.ButtonsGroup .StyledButton2 {
    flex: 1 1 100%;
    margin: var(--button-block-margin) var(--button-inline-margin);
}
@media (min-width: 35.5em) {
    .StyledButton2 {
        display: inline-flex;
    }
}
.StyledButton2 {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-width: 7.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-property: color, background-color, box-shadow;
    user-select: none;
    padding: 0px 1rem;
    --shadow-color: $--colors-silver;
    --shadow-width: 0.125rem;
    box-shadow: inset 0 0 0 var(--shadow-width);
    color: $--colors-silver;
}
.call {
    text-transform: uppercase;
    font-weight: 700;
    transition: color 0.2s ease 0s;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.125rem;
}
@media (min-width: 35.5em) {
    .stackedlayout {
    --top-gutter: 4.5rem;
    --bottom-gutter:4.5rem;
    }
}
.stackedlayout {
    padding-bottom: var(--bottom-gutter);
}
@media (min-width: 35.5em) {
    .ContentBlock {
    --gutter: 72;
    --horizontal-padding: 2.5rem;
    }
}
.ContentBlock {
    margin-bottom: calc(var(--gutter) * 0.0625rem);
}
@media (min-width: 35.5em) {
    .heroblock {
        padding-top: 8.5rem;
        padding-bottom: 4rem;
    }
}
.heroblock {
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
}
.ImageWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: $--z-index-under-background;
}
.back-video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
@media (min-width: 35.5em){
    .TitleWrapper {
    padding: 0px;
    margin-bottom: 5rem;
    }
}
.TitleWrapper {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 0px 1.25rem;
    margin-bottom: 3.5rem;
}
@media (min-width: 35.5em) {
.PerksWrapper {
    gap: 3.5rem 5rem;
    max-width: 37.5rem;
    padding: 0px 2.5rem;
    }
}
.PerksWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 35.5em) {
.centraltitle {
    font-size: 2.125rem;
    line-height: 2.75rem;
}
}
@media (min-width: 35.5em) {
    .centraltitle {
    max-width: 24.375rem;
    margin-bottom: 2rem;
}
}
.centraltitle {
    color: $--colors-white;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}
h1 {
    margin: 0px;
}
@media (min-width: 35.5em) {
.StyledButton3 {
    display: inline-flex;
}
}
@media (min-width: 35.5em) {
.StyledButton3 {
    width: auto;
}
}
.StyledButton3 {
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-width: 7.5rem;
    height: 2.5rem;
    border: 0px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-property: color, background-color, box-shadow;
    user-select: none;
    padding: 0px 1rem;
    color: $--colors-woodsmoke;
    background-color: $--colors-orange-base;
}
.Perk {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    color: $--colors-white;
}
@media (min-width: 35.5em) {
    .PerkIcon {
    width: 2.5rem;
    }
}
.PerkIcon {
    margin-bottom: 1rem;
    fill: currentColor;
}
path {
    d: path("M 20 40 a 20 20 0 1 1 0 -40 a 20 20 0 0 1 0 40 Z m 0 -2 a 18 18 0 1 0 0 -36 a 18 18 0 0 0 0 36 Z m -5.75 -12.66 L 19 20 V 9 h 2 v 11.38 a 1 1 0 0 1 -0.25 0.66 l -5 5.62 l -1.5 -1.32 Z");
}
:not(svg) {
    transform-origin: 0px 0px;
}
@media (min-widt: 35.5em) {
.Text {
    font-size: 1rem;
    line-height: 1.5rem;
}
}
.Text {
    font-weight: 500;
}
path {
    d: path("M 20 40 a 6 6 0 1 1 0.01 -12.01 A 6 6 0 0 1 20 40 Z m 0 -2 a 4 4 0 1 0 0 -8 a 4 4 0 0 0 0 8 Z m 0 -38 a 6 6 0 0 1 6 6 v 14 a 6 6 0 1 1 -12 0 V 6 a 6 6 0 0 1 6 -6 Z m 0 2 a 4 4 0 0 0 -4 4 v 14 a 4 4 0 1 0 8 0 V 6 a 4 4 0 0 0 -4 -4 Z");
}
path {
    d: path("M10.59 2H6v4.59L10.59 2zM14 2v8H6v28h28V2H14zM6 0h28a2 2 0 012 2v36a2 2 0 01-2 2H6a2 2 0 01-2-2V2c0-1.1.9-2 2-2zm6 8V3.41L7.41 8H12zm1 19l-3-12 6 3 4-6 4 6 6-3-3 12H13zm1.56-2h10.88L27 18.73l-3.7 1.85L20 15.6l-3.32 4.97L13 18.73 14.56 25z");
}
path {
    d: path("M11.35 6c1.5-3.86 4.29-6 8.65-6s7.15 2.14 8.65 6H37v34H3V6h8.35zm2.2 0h12.9A6.65 6.65 0 0020 2a6.65 6.65 0 00-6.46 4zm-2.82 2H5v30h30V8h-5.73c.5 2 .73 4.35.73 7h-2c0-2.75-.26-5.1-.8-7H12.8c-.54 1.9-.8 4.25-.8 7h-2c0-2.65.23-5 .73-7z");  
}
