* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Lato, sans-serif;
}

body {
  margin: 0px;
  font-size: 1rem;
  color: black;
  background-image: white;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

div {
  display: block;
}

.layout {
  min-width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

@media (min-width: 35.5rem) {
  .Header {
    padding: 0px 2.5rem;
    max-width: 77.5rem;
  }
}

.Header {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  z-index: 100;
  height: 4rem;
}

.LogoButton {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 8rem;
          flex: 0 1 8rem;
  min-width: 7.1875rem;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  max-width: 100%;
}

img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (min-width: 35.5em) {
  .ButtonsGroup {
    --button-inline-margin: 0.3125rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.ButtonsGroup {
  --button-block-margin: 0.375rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: calc(-1 * var(--button-block-margin)) calc(-1 * var(--button-inline-margin));
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (min-width: 35.5em) {
  .ButtonsGroup .StyledButton:first-of-type {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media (min-width: 35.5em) {
  .ButtonsGroup .StyledButton {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

.ButtonsGroup .StyledButton {
  margin: var(--button-block-margin) var(--button-inline-margin);
}

.StyledButton {
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  min-width: 7.5rem;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0px 1rem;
  color: #dadada;
  height: auto;
}

.ButtonsGroup .StyledButton2:last-of-type {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (min-width: 35.5em) {
  .ButtonsGroup .StyledButton2 {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

.ButtonsGroup .StyledButton2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin: var(--button-block-margin) var(--button-inline-margin);
}

@media (min-width: 35.5em) {
  .StyledButton2 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.StyledButton2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  min-width: 7.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0px 1rem;
  --shadow-color: $--colors-silver;
  --shadow-width: 0.125rem;
  -webkit-box-shadow: inset 0 0 0 var(--shadow-width);
          box-shadow: inset 0 0 0 var(--shadow-width);
  color: #dadada;
}

.call {
  text-transform: uppercase;
  font-weight: 800;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

@media (min-width: 35.5em) {
  .stackedlayout {
    --top-gutter: 4.5rem;
    --bottom-gutter:4.5rem;
  }
}

.stackedlayout {
  padding-bottom: var(--bottom-gutter);
}

@media (min-width: 35.5em) {
  .ContentBlock {
    --gutter: 72;
    --horizontal-padding: 2.5rem;
  }
}

.ContentBlock {
  margin-bottom: calc(var(--gutter) * 0.0625rem);
}

@media (min-width: 35.5em) {
  .heroblock {
    padding-top: 8.5rem;
    padding-bottom: 4rem;
  }
}

.heroblock {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 3, 51, 0.3)), to(rgba(12, 3, 51, 0.3)));
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
}

.ImageWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.back-video {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 35.5em) {
  .TitleWrapper {
    padding: 0px;
    margin-bottom: 5rem;
  }
}

.TitleWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  padding: 0px 1.25rem;
  margin-bottom: 3.5rem;
}

@media (min-width: 35.5em) {
  .PerksWrapper {
    gap: 3.5rem 5rem;
    max-width: 37.5rem;
    padding: 0px 2.5rem;
  }
}

.PerksWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2.375rem 2.1875rem;
  max-width: 23.5rem;
  padding: 0px 1.25rem;
}

@media (min-width: 35.5em) {
  .centraltitle {
    font-size: 2.125rem;
    line-height: 2.75rem;
  }
}

@media (min-width: 35.5em) {
  .centraltitle {
    max-width: 24.375rem;
    margin-bottom: 2rem;
  }
}

.centraltitle {
  color: white;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

h1 {
  margin: 0px;
}

@media (min-width: 35.5em) {
  .StyledButton3 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media (min-width: 35.5em) {
  .StyledButton3 {
    width: auto;
  }
}

.StyledButton3 {
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  min-width: 7.5rem;
  height: 2.5rem;
  border: 0px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0px 1rem;
  color: #141519;
  background-color: #f47521;
}

.Call2 {
  text-transform: uppercase;
  font-weight: 800;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.Perk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  color: white;
}

@media (min-width: 35.5em) {
  .PerkIcon {
    width: 2.5rem;
  }
}

.PerkIcon {
  margin-bottom: 1rem;
  fill: currentColor;
}

path {
  d: path("M 20 40 a 20 20 0 1 1 0 -40 a 20 20 0 0 1 0 40 Z m 0 -2 a 18 18 0 1 0 0 -36 a 18 18 0 0 0 0 36 Z m -5.75 -12.66 L 19 20 V 9 h 2 v 11.38 a 1 1 0 0 1 -0.25 0.66 l -5 5.62 l -1.5 -1.32 Z");
}

:not(svg) {
  -webkit-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
}

@media (min-widt: 35.5em) {
  .Text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.Text {
  font-weight: 500;
}

path {
  d: path("M 20 40 a 6 6 0 1 1 0.01 -12.01 A 6 6 0 0 1 20 40 Z m 0 -2 a 4 4 0 1 0 0 -8 a 4 4 0 0 0 0 8 Z m 0 -38 a 6 6 0 0 1 6 6 v 14 a 6 6 0 1 1 -12 0 V 6 a 6 6 0 0 1 6 -6 Z m 0 2 a 4 4 0 0 0 -4 4 v 14 a 4 4 0 1 0 8 0 V 6 a 4 4 0 0 0 -4 -4 Z");
}

path {
  d: path("M10.59 2H6v4.59L10.59 2zM14 2v8H6v28h28V2H14zM6 0h28a2 2 0 012 2v36a2 2 0 01-2 2H6a2 2 0 01-2-2V2c0-1.1.9-2 2-2zm6 8V3.41L7.41 8H12zm1 19l-3-12 6 3 4-6 4 6 6-3-3 12H13zm1.56-2h10.88L27 18.73l-3.7 1.85L20 15.6l-3.32 4.97L13 18.73 14.56 25z");
}

path {
  d: path("M11.35 6c1.5-3.86 4.29-6 8.65-6s7.15 2.14 8.65 6H37v34H3V6h8.35zm2.2 0h12.9A6.65 6.65 0 0020 2a6.65 6.65 0 00-6.46 4zm-2.82 2H5v30h30V8h-5.73c.5 2 .73 4.35.73 7h-2c0-2.75-.26-5.1-.8-7H12.8c-.54 1.9-.8 4.25-.8 7h-2c0-2.65.23-5 .73-7z");
}
/*# sourceMappingURL=style.css.map */